.App {
  text-align: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header {
  background: rgb(118,138,173);
  background: linear-gradient(180deg, rgb(73, 85, 107) 0%, rgb(197, 197, 197) 100%);
  display: inline;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: .5rem;

}

h5 {
  margin: .5rem 0;
  font-size: 1.15rem;
  /* top: 0; */
  font-weight: 100;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.header {
  top: 1vh;
  position: sticky;
}

.imagebox {
  margin: 8px 0 0 8px;
}

.img:hover {
  opacity: .8;
}

.purchase-link {
  font-size: 1.25rem;
  color: rgb(7, 7, 145);
  position: sticky;
  top: 95%;

}
