.App {
  text-align: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header {
  background-color: #1d2129;
  display: inline;
  align-items: center;
  text-align: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

h5 {
  margin: 1rem .25rem;
  font-size: 1.25rem;
  position: sticky;
  top: 0;
  font-weight: 100;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.imagebox {
  margin: 8px 0 0 8px;
}

.img:hover {
  opacity: .8;
}